<html>
<head>
<title>{{ title }}</title>
<style type='text/css'>
h1 {color:red;}
body {
font-size: 14px;
}
</style>
<script>
function myFunction()
{
alert("Hello! I am an alert box!");
}
</script>
</head>
<body>

<p>
[ <a href="bottletypes">Show Bottle Types</a> ]
[ <a href="inventory">Show Inventory</a> ]
[ <a href="recipes">Show Recipes</a> ]
[ <a href="canmake">Available Recipes</a> ]
[ <a href="convert">Convert to milliliters</a> ]
</p>

<h1>{{ title }}</h1>

{% block content %}
{% endblock %}

<p><a href="/">Index</a></p>
</body>
</html>
